.log_content {
  position: absolute;
  top: 50px;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 10px;

  .search_box {
    margin: 10px 0;
    position: relative;

    .query_exp_input {
      position: absolute;
      right: 370px;
      left: 0;
    }

    .query_time_btn {
      position: absolute;
      right: 0;

      li {
        font-size: 14px;
      }
    }
  }

  .log_container {
    position: absolute;
    overflow-y: scroll;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;

    td {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.search_tooltip_a {
  color: white;
  font-size: 12px;
}